.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.image-container img{
    width: 500px;
}
.name{
    color: #120E43;
}
u{
    color: #120E43;
}